.h1 {
  margin-bottom: 20px;
  color: var(--color-foreground);
  font-size: 2rem;
  font-weight: bold;
}

.h2 {
  color: var(--color-foreground);
  font-size: 1.5rem;
  font-weight: bold;
}

.h3 {
  margin: 10px 0;
  font-size: 16px;
  color: var(--color-muted-foreground);
  font-weight: bold;
}

.body {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-foreground);
}

.caption {
  padding: 5px 0;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-foreground);
  font-size: 14px;
}