@import './theme.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  display: flex;
  justify-content: center;
  padding: 20px;
}